@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;300;400;700&display=swap');

$color-primary: hsl(136, 65%, 51%);
$color-secondary: hsl(192, 70%, 51%);
$color-background: hsl(233, 26%, 24%);
$color-neutral: hsl(0, 0%, 100%);
$color-lite-gray: hsla(0, 0%, 98%, 1.00);
$color-dark-gray: hsla(220, 16%, 96%, 1.00);
$color-neutral-dark: hsla(255, 2%, 67%, 1.00);

$breakpoint--mobile-l: 425px;
$breakpoint--tablet: 768px;

* {
  box-sizing:border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: 'Public Sans', sans-serif;

  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
}

a.btn {
  background: linear-gradient(90deg, $color-primary 0%, $color-secondary 100%);
  border-radius: 99rem;
  padding: 0.78rem 1.78rem;

  color: $color-neutral;
  font-size: 0.83rem;
  font-weight: 400;
  letter-spacing: -0.013rem;
  line-height: 0.94rem;
  text-decoration: none;

  transition: all 200ms ease;

  @media (hover:hover) {
    &:hover {
      opacity: 0.75;
    }
  }
}

header {
  padding: 0 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 99;

  background-color: $color-neutral;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // height: 4rem;
    padding: 1.13rem 0;
    margin: 0 auto;
    max-width: 960px;
  }

  a.logo-img {
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 1.11rem;
    width: 7.72rem;
    line-height: 0;
    font-size: 0;
  }

  a {
    text-decoration: none;
    font-size: 0.81rem;
    font-weight: 300;
    letter-spacing: -0.02rem;

    @media (max-width: $breakpoint--tablet) {
      color: $color-background;
      font-size: 1.03rem;
      font-weight: 400;
      letter-spacing: -0.02rem;
    }
  }

  img {
    height: 1rem;
  }

  nav {
    height: 100%;

    ul {
      text-align: center;

      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;

      li {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0 0.5rem;
        position: relative;

        a {
          color: $color-neutral-dark;

          transition: all 200ms ease;
        }

        &::after {
          content:"";
          height: 0.15rem;
          width: 100%;
          bottom: -1.74rem;
          position: absolute;
          background: linear-gradient(90deg, $color-primary 0%, $color-secondary 100%);
          opacity: 0;

          transition: all 400ms ease;
        }

        @media (hover:hover) {
          &:hover {
            cursor: pointer;

            a {
              color: $color-background;
            }

            &::after {
              opacity: 1.0;
            }
          }
        }
      }
    }

    @media (max-width: $breakpoint--tablet) {
      display: none;

      ul {
        background-color: $color-neutral;

        border-radius: 0.22rem;
        flex-direction: column;
        position: absolute;
        top: 4.89rem;
        left: 1.335rem;
        padding: 1rem 0;
        height: auto;
        width: calc(100vw - 2.67rem);
        z-index: 99;

        li {
          margin: 0.67rem auto;

          &:hover {
            &::after {opacity: 0;}
            }
        }
      }
    }
  }

  a.header-cta {
    margin: -0.13rem 0;

    @media (max-width: $breakpoint--tablet) {
      display: none;

      &:hover {
        opacity: 1.0;
      }
    }
  }

  .menu{
    display: none;
    height: 0.7rem;
    width: 1.4rem;
    overflow: hidden;

    background: url(../img/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;

    &.close {
      background: url(../img/icon-close.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto;
    }

    &:hover {
      cursor: pointer;
    }

    @media (max-width: $breakpoint--tablet) {
      display: inherit;
    }
  }
}

.overlay {

  background: linear-gradient(180deg, $color-background 0%, rgba(0,0,0,0) 100%);

  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0rem;
  left: 0;

  z-index: 98;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4rem 1rem 2.5rem 1rem;
  max-height: 50rem;
  min-height: 35rem;
  margin: 0;

  background: url(../img/image-mockups.png), url(../img/bg-intro-desktop.svg);
  background-color: $color-lite-gray;
  background-repeat: no-repeat;
  background-position: 100% 20%, 150% 53%;
  background-size: 45vw, 70vw;

  color: $color-background;
  text-align: left;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
  }

  @media (max-width: $breakpoint--tablet) {
    background: url(../img/image-mockups.png), url(../img/bg-intro-mobile.svg);
    background-color: $color-lite-gray;
    background-repeat: no-repeat;
    background-position: center -3rem, 0 0;
    background-size: calc(100% - 2rem), 100%;

    min-height: 0;
    padding-top: 100vw;

    text-align: center;

    .wrapper {
      align-items: center;
      justify-content: flex-end;
    }
  }

  h1 {
    line-height: 3.5rem;
    font-size: 3.17rem;
    font-weight: 300;
    letter-spacing: -0.09rem;

    margin: 0.5rem 0;
    max-width: 24.75rem;

    @media (max-width: $breakpoint--tablet) {
      line-height: 2.67rem;
      font-size: 2.28rem;
      font-weight: 300;
      letter-spacing: -0.02rem;
    }
  }

  p {
    color: $color-neutral-dark;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
    line-height: 1.56rem;

    margin: 0.5rem 0;
    max-width: 24.75rem;

    @media (max-width: $breakpoint--tablet) {
      font-size: 0.83rem;
      font-weight: 400;
      letter-spacing: -0.02rem;
      line-height: 1.38rem;
    }
  }

  a {
    margin: 1rem 0;
  }
}

.feature-section {
  background-color: $color-dark-gray;
  margin: 0;

  text-align: center;

  .wrapper {
    padding: 0 1rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: -0.75px;
  }

  h2 {
    font-weight: 300;
  }
}

.hide {
  display: none;
}
