@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
* {
  box-sizing: border-box; }

html {
  font-size: 18px; }

body {
  font-family: 'Public Sans', sans-serif; }

header {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header img.logo {
    height: 1rem; }
  header nav {
    display: none; }
    header nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%; }
  header a.header-cta {
    display: none; }
