@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;300;400;700&display=swap");
* {
  box-sizing: border-box; }

html {
  font-size: 18px; }

body {
  font-family: 'Public Sans', sans-serif;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
  margin: 0;
  padding: 0; }

a.btn {
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c 0%, #2bb7da 100%);
  border-radius: 99rem;
  padding: 0.78rem 1.78rem;
  color: white;
  font-size: 0.83rem;
  font-weight: 400;
  letter-spacing: -0.013rem;
  line-height: 0.94rem;
  text-decoration: none;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease; }
  @media (hover: hover) {
    a.btn:hover {
      opacity: 0.75; } }

header {
  padding: 0 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: white; }
  header .wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: justify;
            justify-content: space-between;
    padding: 1.13rem 0;
    margin: 0 auto;
    max-width: 960px; }
  header a.logo-img {
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 1.11rem;
    width: 7.72rem;
    line-height: 0;
    font-size: 0; }
  header a {
    text-decoration: none;
    font-size: 0.81rem;
    font-weight: 300;
    letter-spacing: -0.02rem; }
    @media (max-width: 768px) {
      header a {
        color: #2d314d;
        font-size: 1.03rem;
        font-weight: 400;
        letter-spacing: -0.02rem; } }
  header img {
    height: 1rem; }
  header nav {
    height: 100%; }
    header nav ul {
      text-align: center;
      display: -webkit-box;
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%; }
      header nav ul li {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
                align-items: center;
        height: 100%;
        margin: 0 0.5rem;
        position: relative; }
        header nav ul li a {
          color: #aaa9ad;
          -webkit-transition: all 200ms ease;
          transition: all 200ms ease; }
        header nav ul li::after {
          content: "";
          height: 0.15rem;
          width: 100%;
          bottom: -1.74rem;
          position: absolute;
          background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
          background: linear-gradient(90deg, #31d35c 0%, #2bb7da 100%);
          opacity: 0;
          -webkit-transition: all 400ms ease;
          transition: all 400ms ease; }
        @media (hover: hover) {
          header nav ul li:hover {
            cursor: pointer; }
            header nav ul li:hover a {
              color: #2d314d; }
            header nav ul li:hover::after {
              opacity: 1.0; } }
    @media (max-width: 768px) {
      header nav {
        display: none; }
        header nav ul {
          background-color: white;
          border-radius: 0.22rem;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
                  flex-direction: column;
          position: absolute;
          top: 4.89rem;
          left: 1.335rem;
          padding: 1rem 0;
          height: auto;
          width: calc(100vw - 2.67rem);
          z-index: 99; }
          header nav ul li {
            margin: 0.67rem auto; }
            header nav ul li:hover::after {
              opacity: 0; } }
  header a.header-cta {
    margin: -0.13rem 0; }
    @media (max-width: 768px) {
      header a.header-cta {
        display: none; }
        header a.header-cta:hover {
          opacity: 1.0; } }
  header .menu {
    display: none;
    height: 0.7rem;
    width: 1.4rem;
    overflow: hidden;
    background: url(../img/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto; }
    header .menu.close {
      background: url(../img/icon-close.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto; }
    header .menu:hover {
      cursor: pointer; }
    @media (max-width: 768px) {
      header .menu {
        display: inherit; } }

.overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, #2d314d 0%, rgba(0, 0, 0, 0) 100%);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0rem;
  left: 0;
  z-index: 98; }

.hero-section {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: start;
          justify-content: flex-start;
  padding: 4rem 1rem 2.5rem 1rem;
  max-height: 50rem;
  min-height: 35rem;
  margin: 0;
  background: url(../img/image-mockups.png), url(../img/bg-intro-desktop.svg);
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-position: 100% 20%, 150% 53%;
  background-size: 45vw, 70vw;
  color: #2d314d;
  text-align: left; }
  .hero-section .wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
            justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 960px; }
  @media (max-width: 768px) {
    .hero-section {
      background: url(../img/image-mockups.png), url(../img/bg-intro-mobile.svg);
      background-color: #fafafa;
      background-repeat: no-repeat;
      background-position: center -3rem, 0 0;
      background-size: calc(100% - 2rem), 100%;
      min-height: 0;
      padding-top: 100vw;
      text-align: center; }
      .hero-section .wrapper {
        -webkit-box-align: center;
                align-items: center;
        -webkit-box-pack: end;
                justify-content: flex-end; } }
  .hero-section h1 {
    line-height: 3.5rem;
    font-size: 3.17rem;
    font-weight: 300;
    letter-spacing: -0.09rem;
    margin: 0.5rem 0;
    max-width: 24.75rem; }
    @media (max-width: 768px) {
      .hero-section h1 {
        line-height: 2.67rem;
        font-size: 2.28rem;
        font-weight: 300;
        letter-spacing: -0.02rem; } }
  .hero-section p {
    color: #aaa9ad;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
    line-height: 1.56rem;
    margin: 0.5rem 0;
    max-width: 24.75rem; }
    @media (max-width: 768px) {
      .hero-section p {
        font-size: 0.83rem;
        font-weight: 400;
        letter-spacing: -0.02rem;
        line-height: 1.38rem; } }
  .hero-section a {
    margin: 1rem 0; }

.feature-section {
  background-color: #f3f4f6;
  margin: 0;
  text-align: center; }
  .feature-section .wrapper {
    padding: 0 1rem; }
  .feature-section h1 {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: -0.75px; }
  .feature-section h2 {
    font-weight: 300; }

.hide {
  display: none; }
